body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1229px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:62px;
}
#u97 {
  position:absolute;
  left:122px;
  top:157px;
  width:81px;
  height:62px;
}
#u98 {
  position:absolute;
  left:2px;
  top:23px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#009933;
}
#u99 {
  position:absolute;
  left:220px;
  top:164px;
  width:1009px;
  height:55px;
  font-size:48px;
  color:#009933;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u101 {
  position:absolute;
  left:220px;
  top:270px;
  width:835px;
  height:23px;
  font-size:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  white-space:nowrap;
}
